#categoria {
    height: auto;
    background-color: #edf5fc;
    font-family: "RobotoRegular";
    border-radius: 10px 10px 0px 0px;
}

#ctitulo {
    background-color: #3310E6;
    color: #ffffff;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    font-family: "RobotoBlack";
    font-size: 115%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#categorias{
    text-align: center;
    display: flex;
    text-decoration: none;
    margin-top: 50px;
}

#c1 {
    width: 30%;

}

#c1>a {
    margin-bottom: 5px;
    background-color: #EE250F;
    border: none;
    display: block !important;
    padding: 10px;
    color: white;
    font-size: 18px;
    border-radius: 18px;
}

#c2 {
    width: 30%;
}

#c2>a {
    margin-bottom: 5px;
    background-color: #9000FF;
    border: none;
    display: block !important;
    padding: 10px;
    color: white;
    font-size: 18px;
    border-radius: 18px;
}

#c3 {
    width: 30%;
}

#c3>a {
    margin-bottom: 5px;
    background-color: #F008DF;
    border: none;
    display: block !important;
    padding: 10px;
    color: white;
    font-size: 18px;
    border-radius: 18px;
}

#categorias2{
    text-align: center;
    display: flex;
    text-decoration: none;
    margin-top: 40px;
    padding-bottom: 5%;
}

#c4 {
    width: 30%;
}

#c4>a {
    margin-bottom: 5px;
    background-color: #F3970C;
    border: none;
    display: block !important;
    padding: 10px;
    color: white;
    font-size: 18px;
    border-radius: 18px;
}

#c5 {
    width: 30%;
}

#c5>a {
    margin-bottom: 5px;
    background-color: #3310E6;
    border: none;
    display: block !important;
    padding: 10px;
    color: white;
    font-size: 18px;
    border-radius: 18px;
}

#c6 {
    width: 30%;
}

#c6>a {
    margin-bottom: 5px;
    background-color: #f85b00;
    border: none;
    display: block !important;
    padding: 10px;
    color: white;
    font-size: 18px;
    border-radius: 18px;
}

@media screen and (max-width: 1199px) {
    #ctitulo {
        width: 100%;
        font-size: 110%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    #categorias{
        margin-top: 40px;
    }
    
    #c1 {
        width: 30%;
    
    }
    
    #c1>a {
        margin-bottom: 5px;
        padding: 10px 50px;
        font-size: 18px;
    }
    
    #c2 {
        width: 30%;
    }
    
    #c2>a {
        margin-bottom: 5px;
        padding: 10px 40px;
        font-size: 18px;
    }
    
    #c3 {
        width: 30%;
    }
    
    #c3>a {
        margin-bottom: 5px;
        padding: 10px 40px;
        font-size: 18px;
    }
    
    #categorias2{
        margin-top: 40px;
        padding-bottom: 8%;
    }
    
    #c4 {
        width: 30%;
    }
    
    #c4>a {
        margin-bottom: 5px;
        padding: 10px 40px;
        font-size: 18px;
    }
    
    #c5 {
        width: 30%;
    }
    
    #c5>a {
        margin-bottom: 5px;
        padding: 10px 40px;
        font-size: 18px;
    }
    
    #c6 {
        width: 30%;
    }
    
    #c6>a {
        margin-bottom: 5px;
        padding: 10px 40px;
        font-size: 18px;
    }
    
}

@media screen and (max-width: 1024px) {
    #ctitulo {
        width: 100%;
        font-size: 110%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    #categorias{
        margin-top: 40px;
    }
    
    #c1 {
        width: 30%;
    
    }
    
    #c1>a {
        margin-bottom: 5px;
        padding: 10px 20px;
        font-size: 18px;
    }
    
    #c2 {
        width: 30%;
    }
    
    #c2>a {
        margin-bottom: 5px;
        padding: 10px 20px;
        font-size: 17px;
    }
    
    #c3 {
        width: 30%;
    }
    
    #c3>a {
        margin-bottom: 5px;
        padding: 10px 20px;
        font-size: 17px;
    }
    
    #categorias2{
        margin-top: 40px;
        padding-bottom: 8%;
    }
    
    #c4 {
        width: 30%;
    }
    
    #c4>a {
        margin-bottom: 5px;
        padding: 10px 20px;
        font-size: 17px;
    }
    
    #c5 {
        width: 30%;
    }
    
    #c5>a {
        margin-bottom: 5px;
        padding: 10px 20px;
        font-size: 17px;
    }
    
    #c6 {
        width: 30%;
    }
    
    #c6>a {
        margin-bottom: 5px;
        padding: 10px 20px;
        font-size: 17px;
    }
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 910px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 480px) {
    #ctitulo {
        width: 100%;
        font-size: 95%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    #categorias{
        margin-top: 40px;
    }
    
    #c1 {
        width: 30%;
    
    }
    
    #c1>a {
        margin-bottom: 5px;
        padding: 10px 10px;
        font-size: 15px;
    }
    
    #c2 {
        width: 30%;
    }
    
    #c2>a {
        margin-bottom: 5px;
        padding: 10px 10px;
        font-size: 15px;
    }
    
    #c3 {
        width: 30%;
    }
    
    #c3>a {
        margin-bottom: 5px;
        padding: 10px 10px;
        font-size: 15px;
    }
    
    #categorias2{
        margin-top: 40px;
        padding-bottom: 8%;
    }
    
    #c4 {
        width: 30%;
    }
    
    #c4>a {
        margin-bottom: 5px;
        padding: 10px 10px;
        font-size: 15px;
    }
    
    #c5 {
        width: 30%;
    }
    
    #c5>a {
        margin-bottom: 5px;
        padding: 10px 10px;
        font-size: 15px;
    }
    
    #c6 {
        width: 30%;
    }
    
    #c6>a {
        margin-bottom: 5px;
        padding: 10px 10px;
        font-size: 15px;
    }
}

@media screen and (max-width: 360px) {
    #ctitulo {
        width: 100%;
        font-size: 110%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    #categorias{
        margin-top: 40px;
    }
    
    #c1 {
        width: 30%;
    
    }
    
    #c1>a {
        margin-bottom: 5px;
        padding: 10px 10px;
        font-size: 12px;
    }
    
    #c2 {
        width: 30%;
    }
    
    #c2>a {
        margin-bottom: 5px;
        padding: 10px 10px;
        font-size: 12px;
    }
    
    #c3 {
        width: 30%;
    }
    
    #c3>a {
        margin-bottom: 5px;
        padding: 10px 10px;
        font-size: 12px;
    }
    
    #categorias2{
        margin-top: 40px;
        padding-bottom: 8%;
    }
    
    #c4 {
        width: 30%;
    }
    
    #c4>a {
        margin-bottom: 5px;
        padding: 10px 10px;
        font-size: 12px;
    }
    
    #c5 {
        width: 30%;
    }
    
    #c5>a {
        margin-bottom: 5px;
        padding: 10px 10px;
        font-size: 12px;
    }
    
    #c6 {
        width: 30%;
    }
    
    #c6>a {
        margin-bottom: 5px;
        padding: 10px 10px;
        font-size: 12px;
    }
}

@media screen and (max-width: 314px) {
    #ctitulo {
        width: 100%;
        font-size: 110%;
        padding-top: 5%;
        padding-bottom: 2%;
    }
    
    #categorias{
        margin-top: 40px;
    }
    
    #c1 {
        width: 30%;
    
    }
    
    #c1>a {
        margin-bottom: 5px;
        padding: 10px 9px;
        font-size: 11px;
    }
    
    #c2 {
        width: 30%;
    }
    
    #c2>a {
        margin-bottom: 5px;
        padding: 10px 9px;
        font-size: 11px;
    }
    
    #c3 {
        width: 30%;
    }
    
    #c3>a {
        margin-bottom: 5px;
        padding: 10px 9px;
        font-size: 11px;
    }
    
    #categorias2{
        margin-top: 40px;
        padding-bottom: 8%;
    }
    
    #c4 {
        width: 30%;
    }
    
    #c4>a {
        margin-bottom: 5px;
        padding: 10px 9px;
        font-size: 11px;
    }
    
    #c5 {
        width: 30%;
    }
    
    #c5>a {
        margin-bottom: 5px;
        padding: 10px 9px;
        font-size: 11px;
    }
    
    #c6 {
        width: 30%;
    }
    
    #c6>a {
        margin-bottom: 5px;
        padding: 10px 9px;
        font-size: 11px;
    }
}