#footer {
    height: auto;
    background-color: #000113;
    display: flex;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

#logotipo {
    width: 30%;
    height: auto;
    color: #ffffff;
}

#logotipo>h2 {
    font-size: 250%;
    text-align: center;
    font-family: "RobotoBold";
}

#logotipo>h2 span {
    font-size: 30%;
    font-family: "RobotoMedium";
}

#contacto {
    width: 25%;
    font-size: 100%;
    text-align: center;
    font-family: "RobotoBold";
    color: #ffffff;
}

#contacto>a i {
    margin-top: 5%;
    position: relative;
    line-height: 40px;
    font-size: 24px;
    border: solid #0090ff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: #ffffff;
    background:#0090ff;
}

#contacto>a i:hover {
    transition: 1s;
    scale: (1,1);
    border-radius: 50%;
    background-color: #0161d1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#info {
    width: 25%;
    font-size: 100%;
    text-align: center;
    font-family: "RobotoBold";
    color: #ffffff;
}

#info>p {
    margin-top: 5%;
    font-family: 'RobotoRegular';
}

#info>p i {
    position: relative;
    line-height: 30px;
    font-size: 20px;
    border: solid #0090ff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: #ffffff;
    background:#0090ff;
}

/* MODO RESPONSIVE */

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 1307px) {
    #info {
        display: none;
    }

    #contacto {
        display: none;
    }
    #logotipo {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 910px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 360px) {}