
nav ul{
    word-spacing: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 61px;

}

nav ul li a{
    color: #fff;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
}

li a.active{
    color: #ffb229;
}

li a:hover{
    display: block;
    height: 3.85em;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    background:#ffb229;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    line-height: 68px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

label>img {
    width: 35px;
    height: 35px;
    padding-top: 11px;
}

#check{
    display: none;
}